



//    _     ___   ____    _  _____ ___ ___  _   _
//   | |   / _ \ / ___|  / \|_   _|_ _/ _ \| \ | |
//   | |  | | | | |     / _ \ | |  | | | | |  \| |
//   | |__| |_| | |___ / ___ \| |  | | |_| | |\  |
//   |_____\___/ \____/_/   \_\_| |___\___/|_| \_|
//



#brand-all-location-section-version-02{
  padding-top: 54px;
  padding-bottom: 74px;
  overflow: hidden;
}




#brand-all-location-title-version-02{
  text-align: center;
  margin-bottom: 48px;

  h4{
    margin-bottom: 11px;
  }

  h1{
    .poppins-regular;
    font-size: 40px;
    line-height: 48px;
  }
}


#brand-all-location-slider-container-version-02{
  margin-left: -50px;
  margin-right: -50px;
}
#brand-all-location-slider-version-02{

  .slick-list{
    overflow: visible;
  }
}


#brand-all-location-slider-prev-btn,
#brand-all-location-slider-next-btn{
  position: absolute;
  top: 50%;

  z-index: 200;
  width: 100px;
  height: 100px;
  .transition-in(0.3s);

  background: transparent;
  border: 3px solid @violet;
  .round(50px);
  outline: none;

  margin-top: -50px;


  &:after{
    content: "";
    display: block;

    position: absolute;
    //width: 20px;
    //height: 30px;
    
    width: 30px;
    height: 45px;
    top: 24px;

    .transition-in(0.3s);

  }

  &:hover{
    .opacity_important(0.5);
  }

}


#brand-all-location-slider-prev-btn{
  left: -38px;
  
  &:after{
    .violet-arrow-left-large;
    left: 26px;
  }
}
#brand-all-location-slider-next-btn{
  right: -38px;

  &:after{
    .violet-arrow-right-large;
    right: 26px;
  }
}








.brand-location-slider-item{
  padding-left: 50px;
  padding-right: 50px;

  position: relative;

  .brand-location-slider-item-image{
    display: block;

    .manic-image-container{

      height: 540px;
    }
  }


  .brand-location-slider-item-copy{
    position: absolute;
    bottom: 0;
    left: 50px;
    right: 50px;
    // width: 100%;

    padding-top: 24px;
    padding-bottom: 44px;
    padding-left: 46px;
    padding-right: 46px;

    .white-bg{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: @white;
      .opacity(0.95);
    }

    h4{
      font-size: 14px;
      line-height: 20px;

      padding-top: 2px;
      margin-bottom: 5px;
    }

    h2{
      .open-sans-semi-bold;
      font-size: 21px;
      line-height: 24px;
      letter-spacing: 0.08em;
      margin-bottom: -24px;



      a{
        font-size: 21px;
        line-height: 24px;


      }
    }

    p{
      font-size: 15px;
      line-height: 24px;
    }
  }

} // .brand-location-slider-item











#brand-all-location-cta-container-version-02{
  padding-top: 30px;

  text-align: right;
}




//    _____ ___  _   _ _____    ____ _   _    _    _   _  ____ _____
//   |  ___/ _ \| \ | |_   _|  / ___| | | |  / \  | \ | |/ ___| ____|
//   | |_ | | | |  \| | | |   | |   | |_| | / _ \ |  \| | |  _|  _|
//   |  _|| |_| | |\  | | |   | |___|  _  |/ ___ \| |\  | |_| | |___
//   |_|   \___/|_| \_| |_|    \____|_| |_/_/   \_\_| \_|\____|_____|
//

// changes to the current brand page (by order of client)
// only for the brand-alternative page for now








//    ___ _   _ _____ ____   ___  ____  _   _  ____ _____ ___ ___  _   _
//   |_ _| \ | |_   _|  _ \ / _ \|  _ \| | | |/ ___|_   _|_ _/ _ \| \ | |
//    | ||  \| | | | | |_) | | | | | | | | | | |     | |  | | | | |  \| |
//    | || |\  | | | |  _ <| |_| | |_| | |_| | |___  | |  | | |_| | |\  |
//   |___|_| \_| |_| |_| \_\\___/|____/ \___/ \____| |_| |___\___/|_| \_|
//


body.brand-alternative-page{
  #default-introduction-section{
    padding-top: 35px;

    #default-introduction-breadcrumb{
      padding-bottom: 95px;
    }

    #default-introduction-copy{
      padding-right: 40px;

      #default-introduction-title{
        h1{
          .poppins-light;
          font-size: 20px;
          line-height: 26px;
          color: #8c8c8c;

          margin-top: 0;
        }
      }
      #default-introduction-title-2{
        // padding-top: 60px;
        padding-top: 54px;

        h4{
          margin-bottom: -3px;
        }
        h1{
          .poppins-regular;
          font-size: 38px;
          line-height: 48px;

          margin-bottom: 2px;

        }
      }
    }



    #default-introduction-video-container{
      height: 475px;
      padding-left: 0px;

      #default-introduction-video{
        height: 475px;

        iframe{
          width: 100%;
          height: 475px;
          top: 0;
          margin-top: 0;
        }
      }
      
      
    }


  } // #default-introduction-section
} // body.brand-alternative-page





//    ____  ____   ___  __  __  ___ _____ ___ ___  _   _
//   |  _ \|  _ \ / _ \|  \/  |/ _ \_   _|_ _/ _ \| \ | |
//   | |_) | |_) | | | | |\/| | | | || |  | | | | |  \| |
//   |  __/|  _ <| |_| | |  | | |_| || |  | | |_| | |\  |
//   |_|   |_| \_\\___/|_|  |_|\___/ |_| |___\___/|_| \_|
//


body.brand-alternative-page{
  #default-promotion-section{

    #default-promotion-title{
      padding-bottom: 47px;
      
      h4{
        margin-bottom: 12px;
      }
      h1{
        .poppins-regular;
        font-size: 38px;
        line-height: 48px;
      }
    }


    #default-promotion-content{
      .default-promotion-content-box .box-content{

        .manic-image-container{
          margin-bottom: 23px;
        }
        h1{
          .poppins-medium;

        }

        .cta-and-price-container {
          bottom: 30px;
          

          .price-container{
            *{
              color: @grey;
            }
            display: inline-block;
            vertical-align: bottom;
            margin-bottom: -8px;
          }
        }

      }
    }
     
    

  }
}



// new
#default-promotion-view-all-container{
  padding-top: 31px;
  padding-bottom: 35px;

  text-align: right;
}






//    ___ _   _ ____ _____  _    ____ ____      _    __  __
//   |_ _| \ | / ___|_   _|/ \  / ___|  _ \    / \  |  \/  |
//    | ||  \| \___ \ | | / _ \| |  _| |_) |  / _ \ | |\/| |
//    | || |\  |___) || |/ ___ \ |_| |  _ <  / ___ \| |  | |
//   |___|_| \_|____/ |_/_/   \_\____|_| \_\/_/   \_\_|  |_|
//


body.brand-alternative-page{
  #default-moment-section{
    padding-top: 71px;
    // padding-bottom: 125px;
    padding-bottom: 117px;

    #default-moment-content{
      
      h4{
        margin-bottom: 11px;
      }
      h1{
        .poppins-regular;
        font-size: 38px;
        line-height: 48px;

        margin-bottom: 5px;
      }
      p{
        padding-bottom: 25px;
      }

    }
    #default-moment-instagram-feed-container{
      top: -160px;
    }
  }
}




//    __  __    _    ____
//   |  \/  |  / \  |  _ \
//   | |\/| | / _ \ | |_) |
//   | |  | |/ ___ \|  __/
//   |_|  |_/_/   \_\_|
//

body.brand-alternative-page{
  #default-map-section{
    padding-top: 156px;

    #default-map-title{

      padding-bottom: 36px;

      h4{
        margin-bottom: 11px;
      }
      h1{
        .poppins-regular;
        font-size: 38px;
        line-height: 48px;
      }
    }


    #map{
      height: 520px;
    }


  }

}



