
#detail-list-section{
  padding-bottom: 100px;
  @media all and (max-width: 991px) {
    padding-bottom: 30px;
  }
}

.detail-list-item-container{
  .detail-list-item{
    // margin-bottom: 50px;
    // padding-bottom: 50px;

    margin-bottom: 70px;
    padding-bottom: 70px;

    border-bottom: 1px solid @border-grey;

    &.first-version{

    }
    &.last-version{
      margin-bottom: 0px;
      padding-bottom: 0px;
      border-bottom: none;
    }

  }
}







//    ___ _____ _____ __  __
//   |_ _|_   _| ____|  \/  |
//    | |  | | |  _| | |\/| |
//    | |  | | | |___| |  | |
//   |___| |_| |_____|_|  |_|
//

.detail-list-item{
  .detail-list-item-image{
    .manic-image-container{
      display: block;
      height: 410px;
    }
  }


  .detail-list-item-copy{
    padding-left: 38px;

    .detail-list-item-title{
      color: @grey;

      
    }

    a.detail-list-item-title{
      color: @grey;
      display: block;
      
      &:hover{
        color: @violet;
      }
    }

    /*
    a{
      color: @grey;
      &:hover{
        color: @violet;
      }
    }
    */
    @media all and (max-width: 480px) {
      padding-top: 20px;
    }
    .default-copy{
    
    }
  }
} // .detail-list-item

.detail-list-item-image-slider{
  position: relative;

  // margin-bottom: 40px;
  margin-bottom: 80px;

  &.one-slide-version{
    padding-bottom: 20px + 9px;
    
    @media only screen and (max-width: 767px) {
      padding-bottom: 76px;
      margin-bottom: 0px;
    }
  }
  
  .manic-image-container{
    display: block;
    height: 410px;
  }

  

  .add-mobile-slider-dots;
  .slick-dots{
    text-align: right;

    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;

    // margin-right: -4px;
  }
  &:after{
    .open-sans-regular;
    font-size: 12px;
    line-height: 18px;
    color: @grey-10;

    display: block;
    content: attr(data-caption-text);

    position: absolute;
    bottom: -32px;
    left: 0;
    right: 130px;
    height: 18px * 2;
    overflow: hidden;
  }
}

@media only screen and (max-width: 991px) {
  .detail-list-item-container{
    .detail-list-item{
      .box-shadow (1px, 1px, 8px, #e5e5e5);
      border-bottom: 0px;  
      padding-bottom: 0px;  

      .detail-list-item-image{

        .manic-image-container{
          display: block;
          height: 250px;
        }
      }

      

      .detail-list-item-copy{
        // padding-left: 0px;    
        // padding: 20px 20px 30px 20px;
        
        padding-top: 15px;
        padding-bottom: 21px;
        padding-left: 20px;
        padding-right: 20px;

        .detail-list-item-title{
          margin-bottom: 18px;
        }

        .default-copy{


          .cta-container{
            // padding-top: 25px;
            padding-top: 13px;
          }
          h5 {
            color: @violet;
          }
          .read-more-cta-container{
            display: block;
            text-align: right;
            margin-top: 25px;
          }

          a.read-more {
            .open-sans-bold;
            font-size: 11px;
            line-height: 10px;
            letter-spacing: 0.08em;
            color: #707070;
            text-transform: uppercase;

            position: relative;
            .display-inline-block;

            &:after {
              .fa;
              content: "\f107"; // .fa-long-arrow-right
              font-size: 13px;
              line-height: 12px;
              color: #707070;

              .display-inline-block;
              padding-left: 10px;
            }
          }
        }
      }
    } // .detail-list-item
  }


  .detail-list-item-image-slider{
    .manic-image-container{
      display: block;
      height: 250px;
    }
  }


}




//    __  __  ___  ____ ___ _     _____
//   |  \/  |/ _ \| __ )_ _| |   | ____|
//   | |\/| | | | |  _ \| || |   |  _|
//   | |  | | |_| | |_) | || |___| |___
//   |_|  |_|\___/|____/___|_____|_____|
//

#detail-list-section-mobile{
  padding-bottom: 30px;
}



.detail-list-item-mobile-container{
  .detail-list-item-mobile{
    margin-bottom: 50px;
    // margin-bottom: 65px;

    &.first-version{

    }
    &.last-version{
      margin-bottom: 0px;
    }
  }
}










.detail-list-item-mobile{



  .detail-list-item-image-mobile{
    // margin-bottom: 20px;

    .manic-image-container{
      // height: 460px;  // tablet portrait height
      height: 400px;  // tablet portrait height

      @media only screen and (max-width: 767px) {
        height: 195px;  // mobile height
      }
    }
  }

  .detail-list-item-slider-mobile{

  }

  .detail-list-item-title-mobile{
    margin-bottom: 24px;

    h2{
      .lato-regular;
      font-size: 22px !important;
      line-height: 26px !important;
      letter-spacing: 0;
      text-transform: none;
    }

  }
  .detail-list-item-copy-mobile{
    padding-top: 24px;
    

    .default-copy{
    }

    // these are used in 
    .read-more-cta-container{
      display: block;
      text-align: right;
      margin-top: 25px;
    }

    a.read-more {
      .open-sans-bold;
      font-size: 11px;
      line-height: 10px;
      letter-spacing: 0.08em;
      color: #707070;
      text-transform: uppercase;

      position: relative;
      .display-inline-block;

      &:after {
        .fa;
        content: "\f107"; // .fa-long-arrow-right
        font-size: 13px;
        line-height: 12px;
        color: #707070;

        .display-inline-block;
        padding-left: 10px;
      }
    }

  } // .detail-list-item-copy-mobile

  .detail-list-item-expanding-container{
    // padding-top: 44px;
    padding-top: 35px;
  }

  .detail-list-item-cta-container-mobile{
    text-align: center;
    padding-top: 30px;

    .square-cta{
      padding-left: 57px;
      padding-right: 57px;
    }
  }





}



.detail-list-item-slider-mobile{
  position: relative;
  // margin-bottom: 35px;
  margin-bottom: 4px;

  &.one-slide-version{
    padding-bottom: 20px + 9px;

    @media only screen and (max-width: 767px) {
      padding-bottom: 76px;
      margin-bottom: 0px;
    }
    
  }

  .manic-image-container{
    display: block;
    height: 400px;  // tablet portrait height

    @media only screen and (max-width: 767px) {
      height: 195px;  // mobile height
    }
  }

  .add-mobile-slider-dots;
  .slick-dots{
    text-align: center;

    padding-top: 76px;
    padding-left: 0;
    padding-right: 0;

  }
  &:after{
    .open-sans-regular;
    font-size: 12px;
    line-height: 18px;
    color: @grey-10;

    display: block;
    content: attr(data-caption-text);

    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0px;
    height: 18px * 3;
    overflow: hidden;

    padding-left: ~'calc(8.33333333% + 36px)';
    padding-right: ~'calc(8.33333333% + 36px)';
    @media only screen and (max-width: 767px) {
      padding-left: 25px;
      padding-right: 25px;
    }

  }
}