#offer-index-page-list-section {
  padding-bottom: 80px;
}

#offer-index-page-no-offers-copy-container{
  text-align: center;
  display: none;
  padding-bottom: 80px;

  &.visible-version{
    display: block;
  }
}


@media all and (max-width: 991px) {
  #offer-index-page-list-section {
    padding-bottom: 0px;
  }
  #offer-page-expanding-content-section {
    // padding-bottom: 80px;
  }



  // THESE GUYS ARE ONLY VISIBLE ON MOBILE
  #offer-index-page-item-container {
    .offer-index-page-item {


      .offer-index-page-item-arrow-cta-container-mobile{
        position: absolute;     // same as .room-detail-page-item .room-detail-page-item-cta-container
        bottom: 22px;
        left: 20px;
        right: 20px;
      }

      .offer-index-page-item-box {
        // padding-bottom: 75px;    // visibl
        padding-bottom: 61px;     // same as .boxlist-item-box.default-promotion-content-box 

        .offer-index-page-item-content-copy {
          // padding-bottom: 20px;
        }
      }
    }
  }
}