//    _____  _    ____
//   |_   _|/ \  | __ )
//     | | / _ \ |  _ \
//     | |/ ___ \| |_) |
//     |_/_/   \_\____/
//

#page-gallery-index-tab{
  display: none;  // temp
}
#page-gallery-detail-tab{
  // display: none;
}



//    _____ ___ _____ _     _____
//   |_   _|_ _|_   _| |   | ____|
//     | |  | |  | | | |   |  _|
//     | |  | |  | | | |___| |___
//     |_| |___| |_| |_____|_____|
//


#gallery-page-title-section{

}

#gallery-page-title{
  h1{

  }
}

#gallery-page-tab-container{

  nav{
    ul{
      li{

        a{

        }

      }
    }
  }

} // #gallery-page-tab-container












// =============================================================
// =============================================================
// =============================================================
// =============================================================
// =============================================================
// =============================================================
// =============================================================



#gallery-slider-section{
  padding-top: 100px;
  padding-bottom: 100px;

}





//    ____  _     ___ ____  _____ ____
//   / ___|| |   |_ _|  _ \| ____|  _ \
//   \___ \| |    | || | | |  _| | |_) |
//    ___) | |___ | || |_| | |___|  _ <
//   |____/|_____|___|____/|_____|_| \_\
//


#gallery-slider-container{
  position: relative;
}

#gallery-slider{
  position: relative;
  width: 100%;
  height: 650px;

  overflow: hidden;
}


.gallery-slider-item{
  .display-inline-block;
  width: 100%;


  .manic-image-container{
    height: 650px;
  }
}





#gallery-slider-overlay{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: @black;

  padding-top: 26px;
  padding-bottom: 33px;


} // #gallery-slider-overlay


#gallery-slider-overlay-left-container{
  text-align: left;
  h5{
    color: @white;
  }
}

#gallery-slider-overlay-right-container{
  text-align: right;
  color: @white;

  .content-price{
    .display-inline-block;

    // copy from detail page
    
  } // .content-price

  .cta-container{
    .display-inline-block;
  }
}


//    _____ _   _ _   _ __  __ ____  _   _    _    ___ _     ____
//   |_   _| | | | | | |  \/  | __ )| \ | |  / \  |_ _| |   / ___|
//     | | | |_| | | | | |\/| |  _ \|  \| | / _ \  | || |   \___ \
//     | | |  _  | |_| | |  | | |_) | |\  |/ ___ \ | || |___ ___) |
//     |_| |_| |_|\___/|_|  |_|____/|_| \_/_/   \_\___|_____|____/
//




#gallery-thumbnail-slider-container{

}
#gallery-thumbnail-slider{
  width: 100%;
  height: 135px;
  overflow: hidden;
}

.gallery-thumbnail-slider-item{
  .display-inline-block;
  width: 135px;
  height: 135px;

  .manic-image-container{
    width: 135px;
    height: 135px;
  }
}



