#booking-engine-form {
  padding-bottom: 100px;
  h3 {
    .lato-bold;
    font-size: 21px;
    line-height: 27px;
    letter-spacing: 0px;
  }
  h5 {
    .open-sans-semi-bold;
    font-size: 14px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }
}
.booking-steps {
  display: none;
  &.active-step {
    display: block;
    // min-height: 862px;
  }
}

#booking-engine-step-0 {
  position: relative;
  z-index: 2;
  min-height: 0;
}
#booking-engine-step-0-header {
  background: @grey-4;
  text-align: center;
  padding: 30px 0 25px 0; 
  h3, h5 {
    color: @white;
  }
}

#booking-engine-step-0-content {
  margin-top: 80px;
  // margin-bottom: 80px;

  .booking-engine-booking-form {    
    text-align: center;
    .booking-form {
      position: relative;
      padding: 27px 30px 26px 30px;      
      margin-right: 30px;
      width: 306px;
      background: @off-white;
      display: inline-block;
      vertical-align: top;

      .box-shadow (0px, 3px, 8px, #e5e5e5);

      .input-box {
        margin-bottom: 15px;
        label {
          // .playfair-regular;
          .lato-bold;
          font-size: 16px;
          line-height: 16px;
          color: #555;
          display: block;
          padding-bottom: 10px;
          text-align: left;
        }

        .input-box-disclaimer{
          position: relative;
          p{
            .open-sans-light-italic;
            font-size: 12px;
            line-height: 20px;
            letter-spacing: 0.01em;
            // color: #a8a4a3;
            color: @grey;

            position: absolute;
            top: 1px;
            right: 0;
          }
        }
      
        .dropdown {
          display: block;
          position: relative;
          width: 100%;     
          
          select {
            background-color: transparent;
            background-image: none!important;
            border: none;
            outline: none;
            border: 1px solid @input-grey;
            height: 30px;        
            width: 100%;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;


            // http://stackoverflow.com/questions/20163079/remove-select-arrow-on-ie
            &::-ms-expand {
              display: none;
            }

            .round(0px);  
            .body-font;  
            padding-left: 15px;     
            // color: @input-grey;     
          }

          &:after{
            .fa;
            content: "\f107";
            font-size: 20px;
            line-height: 41px;        
            text-align: center;

            position: absolute;
            top: -5px;
            right: 5px;
            width: 30px;
            height: 30px;
            pointer-events: none;
            color: #767676;
          }
        }
        input[type=text] {
          .body-font;
          font-size: 14px;
          background-color: transparent;
          border: 1px solid @input-grey;
          width: 100%;
          height: 30px;
          padding-left: 15px;        
        }
        .date-input {
          position: relative;          
          &:after {
            .fa;
            content: "\f073";
            font-size: 18px;
            letter-spacing: 0.08em;
            color: @violet;        
            position: absolute;
            top: 5px;
            right: 5px;
            cursor: pointer;
            pointer-events: none;
          }
        }
        .input-box-col-1, .input-box-col-2 {
          display: inline-block;
          // width: 46.3%;      
        }   
        .input-box-col-1 {
          // margin-right: 15px;
        }
        .check-availability {
          // background-color: @violet;
          width: 100%;
          height: 35px;
          text-transform: uppercase;
          color: @white;
          .header-h4-style;
          font-size: 13px;
          line-height: 17px;
          padding-top: 0px;
          padding-bottom: 0px;
          border: none;
        }
      }
    }
    #booking-calendar {      
      width: 285px;
      display: inline-block;
      vertical-align: top;

      .daterangepicker {
        display: block!important;
        position: static!important;
        border: none;
        border-radius: 0px;
        height: 388px;
        background-color: @off-white;
        padding: 9px;

        width: 100%; // new

        &:after, &:before {
          display: none;
        }
        .daterangepicker_input {
          display: none;
        }
        .calendar {
          margin-top: -4px;
          float: none;
          margin-left: auto;
          margin-right: auto;

          .calendar-table {
            background-color: @off-white;
            padding-bottom: 0px;
            padding-right: 4px!important;
          }
          &.right {
            display: none;
          }
          th {        
            // color: @violet;
            .open-sans-bold;
            font-size: 13px;
            line-height: 20px;
            text-transform: uppercase;
            &.month {
              // .playfair-regular;
              // font-size: 16px;
              text-transform: none;

              .lato-regular;
              font-size: 18px;
              line-height: 20px;
              color: @grey;
            }
            &.available {
              &:hover {
                background: none!important;
              }
            }
            #hover-day {
              // .playfair-bold;
              // font-size: 46px;
              // line-height: 38px;
              // margin-top: -15px;
              // color: @violet;

              .lato-bold;
              font-size: 44px;
              line-height: 40px;
              color: @grey-2;

              margin-top: -4px;
              margin-bottom: -7px;
            }
            #hover-weekname {
              color: #555;
              font-size: 11px;
              letter-spacing: 0.1em;
              .open-sans-bold;
              text-transform: uppercase;

              line-height: 20px;
              padding-bottom: 6px;
            }
          }
          td {
            border-radius: 0px!important;
            .open-sans-regular;
            font-size: 12px;
            letter-spacing: 0.08em;
            &.active {
              background-color: @violet;          
              color: @white!important;
              &:hover {
                background-color: @violet;
              }
            }
            &.start-date {
              //border-left: 3px solid #fff;
            }
            &.disabled {
              background-color: #b9b9b9;
              text-decoration: none!important;
              color: @white!important;
            }
            &.in-range {
              background-color: @violet;
              color: @white!important;
            }
            &.off {
              // color: @grey-2;
              color: #b9b9b9;
            }
            &.available {
              &:hover {
                // background: none!important;
                color: @white;
                background-color: darken(@violet, 10%);
              }
            }     
          }
          tbody {
            tr {
              border-bottom: 5px solid @off-white;
              &:last-child {
                border-bottom: 0px;
              }
            }
          }
        }
      }
    }
  }
}

#booking-engine-steps-indicator {
  display: none;
  &.active {
    display: block;
  }
  background: @white;
  .box-shadow (0px, 3px, 8px, #e5e5e5);
  .col-md-3 {
    &:first-child {
      .active-step {
        &:before {
          width: calc(~'100% + 80px');
          left: -100px;
        }
      }
    }
    &:nth-of-type(2) {
      .active-step {
        &:before {
          width: calc(~'100% + 20px');
          left: -35px;
        }
      }
    }
    &:last-child {
      .active-step {
        &:before {
          width: calc(~'100% + 140px');
          left: -40px;
        }
      }
    }
  } 
  .step {
    display: block;
    height: 113px;
    // padding-left: 10px;
    padding-top: 28px;    
  }
  .active-step {
    position: relative;
    &:before {
      content: "";
      background: @grey-4;
      position: absolute;  
      width: calc(~'100% + 10px');
      height: 100%;
      left: -35px;
      top: 0px;
      z-index: 1;
    }
    a {
      position: relative;
      display: block;
      z-index: 1;
      h5, h3 {
        color: @white;
      }
    }
  }
  h3 {
    font-size: 19px;
  }
  h5 {
    font-size: 12px;
  }
  h5 {
    color: @light-brown;
  }
}

#booking-engine-steps-container {
  position: relative;
}

#booking-engine-step-1 {    

  #booking-engine-step-1-header {
    padding: 30px 0;
    background: @off-white;
    .form-group {
      margin-bottom: 0px;
    }
    label {
      font-size: 14px;
      letter-spacing: 0.01em;
      span {
        font-size: 12px;
        color: @grey-4;
      }
    }
    #promotion_code {
      width: 220px;
    }
    #arrival_departure {
      width: 240px;
    }
    .date-input {
      position: relative;
      width: 240px;
      &:after {
        .fa;
        content: "\f073";
        font-size: 18px;
        letter-spacing: 0.08em;
        color: @violet;        
        position: absolute;
        top: 5px;
        right: 15px;
        cursor: pointer;
        pointer-events: none;
      }
    }
    .manic-dropdown {
      width: 140px;
    }
    .cta-container {
      padding-top: 25px;
      button {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
      }
    }    
  }

  #booking-engine-step-1-content {
    margin-top: 30px;

    .col-md-9 {
      z-index: 2;
    }

    .boxlist-item-content-price {
      // reusing
      margin-top: 0px;
      margin-bottom: 0px;

      h6, p, span {
        color: @dark-grey;
      }
    }
    .booking-no-room {

      display: none;//hide

      margin-bottom: 50px;

      .booking-no-room-content {
        background: @grey-6;
        padding: 50px 250px;
        margin-bottom: 50px;
        h1 {
          font-size: 26px;
          line-height: 35px;
          color: @grey;
          text-align: center;
        }
        p {
          text-align: center;
        }
      }

      #booking-no-room-suggestion {
        #booking-no-room-suggestion-carousel {
          .carousel-content {
            outline: none;
            img {
              margin: 0 auto;
              width: 90%;
            }  
          }          
          .slick-dots {
            width: 90%;
            margin: 0 auto;
            padding: 0 140px;
            padding-top: 30px;
            text-align: center;
            li {
              display: inline-block;                               
              margin-right: 10px;
              button {
                border: none;
                background: none;
                background-color: @grey;
                text-indent: -9999px;
                .round(100%);
                width: 12px;
                height: 12px;
                display: block;
                outline: none;
              }
              &.slick-active {
                button {
                  background-color: @violet;  
                }            
              }
            }
          }
        }
        .booking-no-room-suggestion-carousel-text {
          width: 90%;
          margin: 0 auto;
          padding: 0 140px;
          padding-top: 20px;
          display: none;
          text-align: center;
          &.active {
            display: block;
          }

          h4 {
            margin-bottom: 10px;
          }

          h3 {
            text-transform: uppercase;           
            margin-bottom: 30px;
          }

          .arrow-cta {
            display: block;
            margin-top: 10px;
          }
        }
      }

    }

    .booking-room-booked-content {
      background: @grey-6;
      padding: 50px 60px;
      margin-bottom: 30px;
      
      display: none; //hide

      h1 {
        font-size: 26px;
        line-height: 35px;
        color: @grey;
        text-align: center;
      }
      p {
        text-align: center;
      }
    }

    .booking-room-content {
      padding-top: 15px;
      margin-bottom: 15px;
      // padding-bottom: 15px;
      .box-shadow (0px, 3px, 8px, #e5e5e5); 
    }
    
    .booking-room-content-info {      
      padding-bottom: 30px;
      padding-left: 20px;
      padding-right: 20px;
    }

    .booking-room-content-image {
      .manic-image-container {
        width: 100%;
        height: 250px;
        display: block;
      }
    }

    .booking-room-content-title {
      position: relative;
      h5{
        .lato-bold;
        font-size: 26px;            
        text-transform: none;
        color: @violet;       
        letter-spacing: 0; 
      }
      .room-price {
        position: absolute;
        top: 10px;
        right: 0;
      }  
    }    

    .booking-room-content-detail {
      display: block;
      vertical-align: bottom;
      position: relative;
      margin-top: 25px;

      .show-rates-cta-container {
        position: absolute;
        bottom: 0;
        right: 0;        
        a {
          display: block;
          text-align: center;
          padding-left: 0px;
          padding-right: 0px;
          width: 140px;
        }
      }
    }

    .booking-room-rates {
      display: none;
      border-top: 1px solid rgba(116, 116, 116, 0.4);
    }

    .booking-room-rate {
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 20px;
      padding-right: 20px;
      border-bottom: 1px solid rgba(116, 116, 116, 0.4);
      &:last-child {
        border-bottom: none;
      }
    }
    
    .booking-room-rate-content {
      .booking-room-rates-title {
        width: 50%;
        h5 {
          .lato-bold;
          font-size: 20px;
          line-height: 23px;
          letter-spacing: 0px;
          color: @grey;
          text-transform: none;
        }
        .show-rate-detail-cta {
          &.expanded-version {
            &:after {
              content: "\f106"!important;
            }  
          }          
        }
      }

      .select-room-cta {
        width: 140px;
        text-align: center;
        display: block;
        padding-left: 0px;
        padding-right: 0px;
        position: absolute;
        right: 0px;
      }

      .price-and-cta-container {
        position: absolute;
        right: 10px;
        top: 0px;
        width: 37%;
        .booking-room-price {
          position: absolute;
          left: 0px;
        }
      }
    }

    .booking-room-rate-more-content {
      display: none;
      position: relative;
      padding-bottom: 100px;
    }
    
    .booking-room-rate-more-content-copy {
      padding-top: 10px;
      width: 50%;
      ul {
        padding-top: 20px;
        li {
          padding-left: 10px;
          position: relative;
          &:before {
            content: ".";
            font-size: 35px;
            position: absolute;
            left: -2px;
            top: -11px;
          }
        }
      }
    }

    .booking-room-rate-more-content-extra-info {
      position: absolute;
      right: 10px;
      top: 0px;
      width: 37%;

      .view-rate-breakdown-cta-container {
        position: absolute;
        left: 0px;
        text-align: right;
      }
      .view-rate-breakdown-cta {
        .open-sans-bold;
        font-size: 11px;
        line-height: 13px;
        letter-spacing: 0.08em;
        color: @violet;
        text-transform: uppercase;
        display: inline-block;
        width: 88px;
      }

      .cancellation-policies {
        &:before {
          content: "";
          border-top: 1px solid rgba(116, 116, 116, 0.4);
          position: absolute;
          top: -20px;
          left: 0px;
          width: 100%;
          display: block;
        }
        margin-top: 60px;
        padding-top: 30px;
        display: block;        
        background: @grey-6;
        padding: 20px;

        h5 {
          .open-sans-semi-bold;
          font-size: 14px;
          line-height: 17px;
          padding-bottom: 10px;
          text-transform: none;
          span {
            color: @violet;
            display: block;
          }
        }
      }

    }    

  }
  
  
}

#booking-engine-step-2 {
  #booking-engine-step-2-content {
    margin-top: 30px;

    .col-md-9 {
      z-index: 2;
    }

    .booking-extra-content {
      padding-top: 15px;
      margin-bottom: 15px;
      // padding-bottom: 15px;
      .box-shadow (0px, 3px, 8px, #e5e5e5); 
    }
    
    .booking-extra-content-info {      
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
      position: relative;

      .col-md-7 {
        min-height: 250px;
      }
    }

    .booking-extra-content-image {
      .manic-image-container {
        width: 100%;
        height: 250px;
        display: block;
      }
    }

    .booking-extra-content-title {
      position: relative;
      h5{
        .lato-bold;
        font-size: 26px;            
        text-transform: none;      
        letter-spacing: 0; 
      }
      .room-price {
        position: absolute;
        top: 10px;
        right: 0;
        h6, span {
          color: @grey;
        }
      }  
    }

    .booking-extra-content-copy {
      padding-top: 14px;
      padding-bottom: 55px;
    }

    .booking-extra-content-cta {
      position: absolute;
      bottom: 0px;
      width: 100%;
      left: 0;
      padding: 0 10px;
      .form-group {
        margin-bottom: 0px;
      }
      label {
        .lato-bold;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.015em;
      }
      .manic-dropdown {
        width: 140px;
        height: 30px;
      }
      button {
        position: absolute;
        right: 10px;
        bottom: 0;
        padding: 0 20px;
      }
    }

    .back-to-select-your-room {
      margin-top: 30px;     
      padding-left: 20px;
    }
  }
}

#booking-engine-step-3 {
  #booking-engine-step-3-content {
    margin-top: 30px; 

    .col-md-9 {
      z-index: 2;
    }       
  }

  ul.payment-tabs {
    padding-bottom: 30px;
    li {
      display: inline-block;
      margin-right: 10px;
      a {
        position: relative;
        .open-sans-semi-bold;
        font-size: 12px;
        letter-spacing: 0.08em;        
        text-transform: uppercase;  

        &:after {
          content: "";
          display: block;
          border-bottom: 1px solid @violet;
          position: absolute;
          bottom: -5px;
          width: 0px;
          .transition-in(.3s);
          left: 50%;
        }
        &:hover, &.active {
          color: @violet;
          &:after {            
            width: 100%;
            left: 0%;
          }
        }
      }
    }

  }
  #book-for-myself, #book-for-someone {
    position: relative;
    
    .your-details, .guest-details {
      padding: 50px 40px;
      .box-shadow (0px, 3px, 8px, #e5e5e5);   
      margin-bottom: 20px;
    }

    .guest-details {
      .guest-for-each-room {        
        &:after {
          content: "";
          border-bottom: 1px solid rgba(146, 144, 144, 0.3);
          display: block;
          margin-left: -13px;
          margin-right: -13px;
          margin-bottom: 55px;
          margin-top: 20px;
        }    
        &:last-child {
          &:after {
            display: none;
          }
        }
        
      }
    }
    
    display: none;

    &.active-tab {
      display: block;
    }
    h5 {
      .lato-regular!important;
      font-size: 38px!important;
      line-height: 44px!important;
      color: @grey!important;
      text-transform: none!important;
      letter-spacing: 0px!important;

      position: absolute;
      left: 0px;
    }
    span.room-title {
      .open-sans-semi-bold;
      font-size: 14px;
      letter-spacing: 0.08em;
      color: @light-brown;
      text-transform: uppercase;
      display: block;
      position: absolute;
      left: 0px;
      top: -20px;
    }
    label {
      font-size: 14px;
      letter-spacing: 0.01em;
      &.color-version {
        color: @violet;
      }
    }
    .form-group {
      margin-bottom: 20px;
    }

    #optional_info {
      padding-top: 20px;
      display: none;
    }

    .optional-info-cta {
      &.expanded-version {
        &:after {
          content: "\f106"!important;
        }  
      }
    }    

    .optional_info_header {
      .open-sans-semi-bold;
      font-size: 13px;
      letter-spacing: 0.08em;
      color: @grey-4;
      text-transform: uppercase;
      padding-top: 50px;
      padding-bottom: 30px;

      &:after {
        content: "";
        display: block;
        border-bottom: 1px solid rgba(146, 144, 144, 0.3);
        padding-top: 10px;
      }
    }
  }
  #terms-and-conditions, #cancellation-policies {
    margin-top: 20px;
    padding: 50px 40px;
    .box-shadow (0px, 3px, 8px, #e5e5e5); 
    .form-group {
      margin-top: 10px;
      margin-bottom: 0px;
    }
    h5 {
      .lato-regular!important;
      font-size: 38px!important;
      line-height: 44px!important;
      color: @grey!important;
      text-transform: none!important;
      letter-spacing: 0px!important;

      position: absolute;
      left: 0px;
    }
    p {
      padding-bottom: 20px;
    }
    input[type="checkbox"] {
      position: absolute;
      .opacity(0);
      width: 20px;
      height: 20px;
    }
    label {
      font-size: 14px;
      letter-spacing: 0.01em;
      display: inline-block;
      width: 100%;
      white-space: normal;
      &.color-version {
        color: @violet;
      }
      span {
        display: inline-block;
        width: 92%;
        vertical-align: top;
      }
    }    
  }
  #card-details {
    margin-top: 20px;
    padding: 50px 40px;
    .box-shadow (0px, 3px, 8px, #e5e5e5); 
    .form-group {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    h5 {
      .lato-regular!important;
      font-size: 38px!important;
      line-height: 44px!important;
      color: @grey!important;
      text-transform: none!important;
      letter-spacing: 0px!important;

      position: absolute;
      left: 0px;
    }
    label {
      font-size: 14px;
      letter-spacing: 0.01em;
      &.color-version {
        color: @violet;
      }
      &.hidden-label {
        visibility: hidden;
      }
    }
    ul.payment-card {
      padding-top: 5px;
      li {
        display: inline-block;
        margin-right: 5px;
        i {
          font-size: 23px;
        }
      }
    }
    .notice {
      .open-sans-bold;
      font-size: 14px;
      line-height: 24px;
      color: @violet;
      padding-top: 10px;
      display: block;
    }
    .cvv-cta {
      position: absolute;      
      bottom: 4px;
      right: 15px;
    }
  }
  .back-to-personalise-your-stay {
    margin-top: 30px;
    padding-left: 20px;
  }
}

#booking-engine-step-4 {
  #booking-engine-step-4-content {
    margin-top: 30px; 

    .col-md-5 {
      z-index: 2;
    }       
  }

  #thank-you-container {
    .box-shadow (0px, 3px, 8px, #e5e5e5); 
    padding: 40px;
    
    #thank-you-container-title {
      margin-bottom: 10px;
    }
    h5 {
      .lato-bold;
      font-size: 36px;
      line-height: 46px;
      color: @grey;
    }

    p {
      padding-bottom: 30px;
      span {
        display: block;
        .open-sans-semi-bold;        
        letter-spacing: 0.01em;
      }
      &.hotel-address {
        span {
          .open-sans-semi-bold;
          color: @violet;
          letter-spacing: 0.01em;
        }
      }
    }

    ul {
      padding-bottom: 30px;
      li {
        span {
          .open-sans-semi-bold;  
          letter-spacing: 0.01em;        
        }
      }
    }

    .ctas-container {
       margin-top: 20px;
    }
    button {
      width: 100%;
      margin-bottom: 10px;
    }

  }
}


//    _____ ________  __________  ___    ____
//   / ___//  _/ __ \/ ____/ __ )/   |  / __ \
//   \__ \ / // / / / __/ / __  / /| | / /_/ /
//  ___/ // // /_/ / /___/ /_/ / ___ |/ _, _/
// /____/___/_____/_____/_____/_/  |_/_/ |_|
//

#booking-engine-sidebar {
  display: none;
  
  position: absolute;
  top: 153px;
  right: 0;
  width: 100%;
  z-index: 1;
}
.reservation-summary-sidebar {
  .box-shadow (0px, 3px, 8px, #e5e5e5); 

  &.confirmation {
    .reservation-summary-content-check-in-out-date {
      display: inline-block;
      width: 40%;
      margin-bottom: 0px;
      h6, p {
        display: inline-block;
      }
      h6 {
        margin-right: 10px;
      }
    }
    .reservation-summary-title {
      padding-left: 20px;
      h5, h6 {
        text-align: left;
      }
    }
    .reservation-summary {
      .reservation-summary-title {
        h6 {
          text-align: left;
        }
      }
      .reservation-summary-content {
        width: 60%;
        margin-left: auto;

        .proceed-to-payment {
          display: none;
        }
      }
    }
    .delete-btn {
      display: none;
    }
    .manic-expand-container-btn {
      display: none;
    }
    .reservation-summary-expandable-content {      
      .manic-expand-container {
        .manic-expand-container-content {
          .col-md-5 {
            display: block;
          }
          .col-md-7 {
            width: 58.33333333%;
          }
          .manic-image-container {
            width: 201px;
            height: 160px;
          }
        }
      }
    }
  }

  h5 {
    .open-sans-bold;
    font-size: 14px;
    line-height: 15px;        
    color: @grey;
  }
  h6 {
    .open-sans-semi-bold;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.08em;
    color: @grey;
    text-transform: uppercase;
  }
}

.reservation-summary-title {
  background-color: @grey-4;
  padding-top: 20px;
  padding-bottom: 20px;      

  h5, h6 {
    color: @white;
    text-align: center;
  }
}
.reservation-summary-content {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  // float: right;

  .reservation-summary-content-check-in-out-date {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0px;
    }
  } 
}

.reservation-summary-selected-extras-container {
  display: none;
}

.reservation-summary-expandable-content {      
  .manic-expand-container {
    margin-bottom: 0px;
    border-bottom: 1px solid #a8a6a6;
    .manic-expand-container-btn {
      right: 15px;
      &:after {
        color: @white;
      }
      &:before {
        color: @white;
      }          
    }
    .manic-expand-container-title {

      &.extra-version {
        background: rgba(178, 164, 160, 0.8);
      }
      background: rgba(146, 144, 144, 0.6);
      padding-left: 20px;
      padding-right: 20px;
      h6 {
        color: @white!important;
      }
    }
    .manic-expand-container-content {
      padding-left: 20px;
      padding-right: 20px;          
      .col-md-5 {
        display: none;
      }
      .col-md-7 {
        width: 100%;
      }
      .selected-room, .selected-extra {
        .selected-room-title, .selected-extra-title {
          position: relative;
          h5 {
            .lato-bold!important;
            font-size: 15px!important;
            line-height: 24px!important;
            text-transform: none!important;
            color: @violet!important;
          }
          .delete-btn {
            position: absolute;
            right: 0px;
            top: -2px;
          }
        }
        .selected-extra-title {
          h5 {
            color: @grey!important;
          }
        }
        .selected-room-content, .selected-extra-content {
          position: relative;
          .selected-room-content-details, .selected-extra-content-details {
            width: 70%;
            h5 {
              .lato-bold!important;
              font-size: 15px!important;
              line-height: 20px!important;
              text-transform: none!important;
            }
          }
          .selected-room-content-price, .selected-extra-content-price {
            position: absolute;
            right: 0px;
            top: 0px;
          }
        }
      }
      .selected-extra {
        &:after {
          content: "";
          display: block;
          padding-bottom: 10px;
          margin-bottom: 10px;
          margin-left: -10px;
          margin-right: -10px;
          border-bottom: 1px solid #a8a6a6;
        }        
        &:last-child {
          &:after {
            display: none;
          }
        }
      }
      .selected-room-nightly-rates, .selected-room-cancellation-policies {
        padding-top: 10px;
        padding-left: 10px;     
        h6 {
          color: @dark-violet!important;
        }       
      }
      .selected-room-nightly-rate {
        position: relative;
        padding-bottom: 5px;
        padding-left: 30px;
        .selected-room-nightly-rate-content-price {
          position: absolute;
          top: 0px;
          right: 0px;
        }
      }
    }
  }
}

.reservation-summary {
  .reservation-summary-title {
    background: @violet;        
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;        

    h6 {
      color: @white;
    }        
  }

  .reservation-summary-content {
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;

    .reservation-summary-content-promotion-code {
      &:after {
        content: "";
        display: block;
        border-bottom: 1px solid rgba(85, 85, 85, 0.5);
        padding-top: 15px;
        margin-left: -10px;
        margin-right: -10px;
      }
      h5 {
        .open-sans-semi-bold!important;
        font-size: 14px!important;
        line-height: 24px!important;
        letter-spacing: 0px!important;
        color: @grey-8!important;
        text-transform: none!important;
      }

    }

    .reservation-summary-content-selected-rooms, .reservation-summary-content-selected-extras {
      // padding-top: 20px;          
      // &:after {
      //   content: "";
      //   display: block;
      //   border-bottom: 1px solid rgba(85, 85, 85, 0.5);
      //   padding-top: 15px;
      //   margin-left: -10px;
      //   margin-right: -10px;
      // }

      h5 {
        font-size: 11px!important;
        // padding-bottom: 5px;
      }

    }
    .reservation-summary-content-selected-extras {
      margin-top: 17px;
      display: none;
    }
    .reservation-summary-content-selected-room, .reservation-summary-content-selected-extra {
      position: relative;
      margin-bottom: 20px;
      margin-top: 17px;
      &:last-child {
        margin-bottom: 0px;      
        &:after {
          content: "";
          display: block;
          border-bottom: 1px solid rgba(85, 85, 85, 0.5);
          padding-top: 15px;
          margin-left: -10px;
          margin-right: -10px;
        }
      }
      .reservation-summary-content-selected-room-price, .reservation-summary-content-selected-extra-price {
        position: absolute;
        top: 0px;
        right: 0px;
      }
    }

    .reservation-summary-content-selected-extra {
      margin-top: 0px;
    }

    .reservation-summary-content-totals {
      padding-top: 20px;
      &:after {
        content: "";
        display: block;
        border-bottom: 1px solid rgba(85, 85, 85, 0.5);
        padding-top: 15px;
        margin-left: -10px;
        margin-right: -10px;
      }          
    }
    .reservation-summary-content-total {
      position: relative;
    }
    .reservation-summary-content-total-price, .reservation-summary-content-total-tax {
      position: absolute;
      bottom: 0px;
      right: 0px;
    }

    .reservation-summary-content-sub-total {
      padding-top: 20px;
      padding-bottom: 50px;
      position: relative;                  
    }

    .reservation-summary-content-sub-total-title {
      h6 {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0;
        color: @violet; 
        text-transform: none; 
      }          
    }

    .reservation-summary-content-sub-total-price {
      position: absolute;
      top: 20px;
      right: 0px;
      h6 {
        font-size: 14px;
        line-height: 24px;
        color: @violet;
      }          
    }

    .proceed-to-payment {
      padding-left: 0px;
      padding-right: 0px;
      width: 100%;
      text-align: center;
    }
  }
}

//     ____  ____  ____  __  ______
//    / __ \/ __ \/ __ \/ / / / __ \
//   / /_/ / / / / /_/ / / / / /_/ /
//  / ____/ /_/ / ____/ /_/ / ____/
// /_/    \____/_/    \____/_/

/* The Modal (background) */
.rates-breakdown-popup-container, .cancellation-popup-container, .cvv-popup-container {
    visibility: hidden;
    .opacity(0);
    &.show {
      visibility: visible;
      .opacity(1);
    }
    .transition-in(.3s);
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.rates-breakdown-popup, .cancellation-popup, .cvv-popup {
  width: 360px;
  background: @white;
  padding: 30px;
  margin: 15% auto; /* 15% from the top and centered */
  .rates-breakdown-popup-title, .cancellation-popup-title, .cvv-popup-title {
    position: relative;
    margin-bottom: 20px;
    &:after {
      content: "";
      border-bottom: 1px solid rgba(146, 144, 144, 0.6);        
      display: block;
      position: absolute;
      width: 100%;
      bottom: -20px;
    }
    h5 {
      .open-sans-semi-bold;
      font-size: 17px;
      line-height: 20px;
      text-transform: none;
      width: 70%;
      span {
        color: @violet;
        display: block;
      }
    }
    .rates-breakdown-popup-price {
      position: absolute;
      bottom: 8px;
      right: 0px;
      h6, p, span {
        color: @grey;
      }        
    }
  }
  .cvv-popup-title {
    &:after {
      display: none;
    }
  }
  .cancellation-popup-title {
    h5 {
      width: 100%;
    }
  }
  .rates-breakdown-popup-content, .cancellation-popup-content {
    padding-top: 20px;
    .rates-breakdown-popup-rate {
      position: relative;
      padding-bottom: 10px;
      .rates-breakdown-popup-rate-content-price {
        position: absolute;
        right: 0px;
        top: 0px;
      }
    }
  }
  .cvv-popup-content {
    p {
      padding-bottom: 20px;
      &:last-child {
        padding-bottom: 40px;
      }
    }
    .card-front, .card-back {
      display: inline-block;
      width: 47%;
      height: 90px;
      background-size: contain!important;
    }
    .card-front {
      background: url("../images/icons/front-cvv.jpg") no-repeat;
      margin-right: 10px;
    }
    .card-back {
      background: url("../images/icons/back-cvv.jpg") no-repeat;      
    }
  }
  

  .back-to-search-btn {
    padding-top: 70px;
  }
  .back-to-payment-btn {
    padding-top: 30px;
  }
}