body.facilities-page, body.activities-page {
  h1 {
    .lato-regular;
  }
  .index-page-title {
    p {
      .lato-light; 
      font-size: 20px;
      line-height: 26px; 
      @media all and (max-width: 991px) {
        font-size: 15px;
        line-height: 24px;
        color: @grey-8;
      }
    }
  }
  h5 {
    .lato-regular;
    font-size: 26px;
    padding-bottom: 20px;
    line-height: 18px;   
    @media all and (max-width: 991px) {
      line-height: 28px;
    } 
  }
  
  .default-copy {
    width: 110%;    
    h6 {
      color: @brown;
    }  
    .more-details {
      margin-top: 20px;
      ul {
        margin-bottom: 30px;
      }
    }  
    .cta-container {      
      padding-top: 30px;
    }            
  }

  @media all and (max-width: 991px) {
    .detail-list-item-container{
      .detail-list-item{
        box-shadow: none;
      }
      .detail-list-item-image {
        margin-left: -25px;
        margin-right: -25px;
      }
      .detail-list-item-copy {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 30px;
        padding-bottom: 0px;
      }
    }  
    .default-copy {
      width: 100%;      
      h5 {        
        color: @grey!important;
      }
      .more-details {
        margin-left: -25px;
        margin-right: -25px;
        margin-top: 40px;
        ul {
          margin-bottom: 0px;
        }
      }
      .cta-container {
        text-align: center;
      }
      .two-columns {      
        .each-column {
          padding-bottom: 10px;
          &:last-child {
            padding-bottom: 0px;
          }
        }        
      }
    }     
  }
}